name: js_trions
description: Flutter cross-platform JSON translations utility app.
author: Tomáš Chylý <chyly@tomas-chyly.com>
homepage: https://tomas-chyly.com/en/project/jstrions/
repository: https://github.com/tomaschyly/JsTrions
issue_tracker: https://github.com/tomaschyly/JsTrions/issues

publish_to: 'none'

version: 1.4.0+15 #Win version needs to change also in Runner.rc & msix #Snap needs to update version too in snapcraft.yaml

environment:
  sdk: ">=2.12.0-0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  tch_appliable_core: ^0.22.0
  tch_common_widgets: ^0.23.1
  
  supercharged: ^2.1.1
  package_info_plus: ^3.1.2
  window_manager: ^0.3.2
  archive: ^3.3.7

  cupertino_icons: ^1.0.5
  flutter_svg: ^2.0.5

  intl: ^0.18.1
  html_unescape: ^2.0.0

  path: ^1.8.2
  path_provider: ^2.0.14
  sqflite: ^2.0.2
  sembast: ^3.2.0

  file_selector: ^0.9.2+5

  url_launcher: ^6.1.10

dev_dependencies:
  msix: ^2.8.18

dependency_overrides:
  intl: ^0.18.1
  file: ^6.1.4

flutter:
  uses-material-design: true

  assets:
    - images/
    - images/2.0x/
    - images/3.0x/
    - assets/
    - assets/translations/

  fonts:
    - family: Kalam
      fonts:
        - asset: fonts/Kalam-Regular.ttf

# https://pub.dev/packages/msix
# flutter build windows
# flutter pub run msix:create
msix_config:
  display_name: JsTrions
  publisher_display_name: Tomas Chyly
  publisher: CN=B0FFABE7-CCEC-4059-A43F-BC992CC5B5D2
  identity_name: 37940TomasChyly.JsTrions
  msix_version: 1.4.0.0
  icons_background_color: transparent
  architecture: x64
  capabilities: "internetClient"
  logo_path: "G:/Development/FlutterProjs/JsTrions/windows/runner/resources/icon.png"
  start_menu_icon_path: "G:/Development/FlutterProjs/JsTrions/windows/runner/resources/icon.png"
  tile_icon_path: "G:/Development/FlutterProjs/JsTrions/windows/runner/resources/icon.png"
  store: true
