name: js_trions
description: Flutter cross-platform JSON translations utility app.
author: Tomáš Chylý <chyly@tomas-chyly.com>
homepage: https://tomas-chyly.com/en/project/jstrions/
repository: https://github.com/tomaschyly/JsTrions
issue_tracker: https://github.com/tomaschyly/JsTrions/issues

publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: ">=2.12.0-0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  tch_appliable_core: ^0.6.3
  tch_common_widgets: ^0.6.3
  
  supercharged: ^2.0.0
  package_info_plus: ^1.0.3

  cupertino_icons: ^1.0.2
  flutter_svg: ^0.22.0

  intl: ^0.17.0

  path: ^1.8.0
  path_provider: ^2.0.1
  sqflite: ^2.0.0+3
  sembast: ^3.0.2

  file_selector: ^0.8.2
  file_selector_linux: ^0.0.2
  file_selector_macos: ^0.0.4
  file_selector_windows: ^0.0.2

  url_launcher: ^6.0.7

flutter:
  uses-material-design: true

  assets:
    - images/
    - images/2.0x/
    - images/3.0x/
    - assets/
    - assets/translations/

  fonts:
    - family: Kalam
      fonts:
        - asset: fonts/Kalam-Regular.ttf
